:root {
  --background-color: #ffffff;
  --section: #ff3333;
  --details: #ba1a1a;
  --footer: #494949;
  --footer2: #373737;
  --feedback: #e3e3e3;
  --bttnHeader: #a6a4a4;
}

.card-body {
    font-weight: 300 !important; /* Ajustando o peso da fonte */
}

/* Estilo geral da página */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/* Container principal */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* Container dos produtos */
#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

/* Estilo do card do produto */
.product-card {
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  height: 200px;
  font-weight: 300 !important;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card.selected {
  transform: scale(1.01);
  border: 2px solid var(--section);
}

/* Estilo da imagem do produto */
.product-image {
  width: 23%;
  height: 200px;
  overflow: hidden;
  background-color: var(--footer2);
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Detalhes do produto */
.product-details {
  padding: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--section);
  margin-bottom: 10px;
  height: auto;
}

.product-description {
  text-align: justify;
  font-size: 0.875rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.4;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-quantity {
  font-size: 1rem;
  color: var(--section);
  margin-bottom: 10px;
  font-weight: bold;
}

/* Preço do produto */
.product-info {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
  padding-right: 30px;
  margin-top: 15px;
  width: 20%;
}

/* Estilo das mensagens */
#message {
  margin-bottom: 20px;
}

.alert {
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
}

.alert-warning {
  background-color: #f8e71c;
  color: #6f6f1f;
}

.alert-danger {
  background-color: var(--section);
  color: white;
}

.img-resumo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.selected-item {
  margin-bottom: 15px;
}

#selectAllButton, 
#deselectAllButton,
#removeSelectedButton,
#sendOrderButto{
  width: 200px !important; /* Largura dos botões em telas maiores */
  margin: 5px; /* Espaço entre os botões */
  background-color: var(--section)
}

/* Para telas médias (tablets e telas menores) */
@media (max-width: 768px) {
  #product-list {
    flex-direction: column;
    align-items: center;
  }

  #selectAllButton, 
  #deselectAllButton,
  #removeSelectedButton,
  #sendOrderButton {
    width: 150px !important;
    margin: 5px;
  }
  
  .containerselect {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 10px;
  }

  .product-card {
    width: 90%;
    flex-direction: column;
  }

  .product-image {
    width: 100%;
    height: 200px;
  }

  .product-details {
    width: 100%;
  }

  .product-info {
    width: 100%;
    text-align: left;
    padding-right: 0;
  }
}

/* Para telas muito pequenas (celulares em retrato) */
@media (max-width: 480px) {
  .product-card {
    width: 100%;
    flex-direction: column;
  }

  .product-name,
  .product-description,
  .product-quantity,
  .product-info {
    font-size: 1rem;
  }

  .product-info {
    text-align: left;
    padding-right: 0;
  }
}
